#startPage{
    width: 700px;
    height: 430px;
    border-radius: 5px;
    background-image: url("bg-img.jpg");
    background-size: 700px 430px;
    position: relative;
}
#startBtn{
    background: none;
    border: none;
    position: absolute;
    top: 350px;
    left: 240px;
    cursor: pointer;
}
#startBtn img{
    width: 200px;
}

#startBtn img:hover{
    width: 230px;
}
.hide{
    display: none;
}
#optionBtn{
    display: block;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15px;
    left: 20px;
}
#optionBtn img{ 
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1;
}