*{
    font-family: 'Jua', sans-serif;
}
body{
    
    background-image: url("./battle/back3.png");
    background-repeat:  space;
    background-size:auto;
}
.hide{
    display: none;
}
#title{
	width:700px;
    height: 400px;
    position: relative;
    top: 280px;
    left: 266px;
    border: 7px solid black;
}
#pageBox{
    width:700px;
    height: 400px;
    position: relative;
    top: 200px;
    left: 280px;
    border:  7px solid black;
}
#wrapper_gage{
    display: none;
    width: 500px;
    height: 30px;
    position: relative;
    top: 1010px;
    left: 280px;
    background-color: white;
    border:  7px solid black;
}
#wrapper_gage h1{
    font-size: 23px;
    position: relative;
    left: 130px;
    bottom: 10px;
    display: inline-block;
    margin-top: 0;

    
}
#gametop{
    display: none;
    width: 500px;
    height: 60px;
    position: relative;
    z-index: 10;
}
.audio{

    background-color: transparent; 
    width:50px;
    height:50px;  
    border-style: none; 
    z-index: 1;
}
.audio img{
    width:50px;
    height:50px;
}
#storyPage{
    width: 700px;
    height: 400px;
    border-radius: 5px;
    z-index: 3;
}
#storyPage img{
    position: relative;
}
#startPage{
    
    width: 700px;
    height: 400px;
    border-radius: 5px;
    background-image: url("battle/back4.jpeg");
    background-size: 700px 400px;
    position: relative;
}
#startBtn{
    background: none;
    border: none;
    position: relative;
    top: 350px;
    left: auto;
    right: auto;
    cursor: pointer;
}
#startBtn img{
    width: 100px;
    opacity: 1;
}

#startBtn img:hover{
    /*width: 230px; 화면밖을 넘어가는현상이 있어 투명도 조정으로 수정*/
    opacity: 0.7;
}
.hide{
    display: none;
}
#optionBtn{
    display: block;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15px;
    left: 20px;
}
#optionBtn img{ 
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1;
}
#backBtn{
    display: none;
    position: absolute;
    width: 0px;
    height: 0px;
    /*border-radius: 7px;*/
    top:30px;
    left: 430px;
    z-index: 5;
}
#backBtn img{
    position: absolute;
    top: -10px;
    right: -40px;
    width: 80px;

}
#chPage h1{
    margin-top: 0;
    padding-top: 25px;
}
#chPage{
    width:700px;
    height:400px;
    border-radius: 5px;
    background-image: url("./image_src/bg_main.png");
    background-size: 700px 400px;
    text-align: center;
}
.charSelectImg{
    width: 150px;
    margin: 5px 5px;
}

#nextBtn{
    background-color: transparent;
    border: none;
    padding-top:10px;
    position: absolute;
    top: 300px;
    left: 40%;
    
    
}
#nextBtn img{
    width: 150px;
    opacity: 1;
}
#nextBtn img:hover{
    /*width: 170px;*/
    opacity: 0.7;
}
#optionPage{
    width:700px;
    height:400px;
    border-radius: 5px;
    background-color: skyblue;
    background-size: 700px 400px;
    text-align: center;
}
#optionPage h1{
    margin-top: 0;
    padding-top: 25px;
}

#game_border{
    
    position: absolute;
    top: 0px;
    left: auto;
    right: auto;
    
}


#gamePage{display: none;}


#title_sample_img{
    width: 700px;
    height: 150px;
    position: absolute;
    left: 0;
    top: 50px;

}

#introduceBtn{
    width: 200px;
    top: 200px;
    position: absolute;
    opacity: 1;
}

.creditBtn{
    width: 200px;
    top: 300px;
    position: absolute;
    opacity: 1;
}

#introduceBtn:hover{
    opacity: 0.7;
}

.creditBtn:hover{
    opacity: 0.7;
}
select{
    height: 60px;
    font-size: 30px;
}
#label1{
    font-size: 30px;
    position: absolute;
    top: 92px;
    left: 130px;
}
#label2{
    font-size: 30px;
    position: absolute;
    top: 193px;
    left: 70px;
}
#label3{
    font-size: 30px;
    position: absolute;
    top: 292px;
    left: 109px;
}

#myCanvas{
    width: 500px;
    height: 500px;
    background-color: white;   
    background-size: auto 500px;
    border-radius: 5px;
    z-index: 3;
}

.difficulty_img{
    width: 50px;
}
#gage0{
    display: none;
    
    height: 30px;
    width: 90px;
    z-index: 8;
    top: 560px;
    left: 420px;
    z-index: 8;
}
#gage05{
    display: none;
    
    height: 30px;
    width: 90px;
    z-index: 8;
    top: 560px;
    left: 420px;
    z-index: 8;
}
#gage1{
    display: none;
 
    height: 30px;
    width: 90px;
    z-index: 8;
    top: 460px;
    left: 420px;
    z-index: 8;
}
#gage2{
    display: none;
  
    height: 30px;
    width: 90px;
    z-index: 8;
    top: 460px;
    left: 420px;
    z-index: 8;
}
#gage3{
    display: none;
   
    height: 30px;
    width: 90px;
    z-index: 8;
    top: 460px;
    left: 420px;
    z-index: 8;
}
#gage4{
    display: none;
   
    height: 30px;
    width: 90px;
    z-index: 8;
    top: 460px;
    left: 420px;
    z-index: 8;
}
#life1{
    display: none;
    float: right;
    height: 30px;
    width: 30px;
    z-index: 9;
    top: 460px;
    left: 990px;
    z-index: 8;
}
#life2{
    display: none;
    float: right;
    height: 30px;
    width: 30px;
    z-index: 9;
    top: 460px;
    left: 1030px;
    z-index: 8;
}
#life3{
    display: none;
    float: right;
    height: 30px;
    width: 30px;
    z-index: 9;
    top: 460px;
    left: 1070px;
    z-index: 8;
}
#restartPage{
    display: none;
    width: 500px;
    height: 500px;
    border-radius: 5px;
    background-color: white;
     background-image: url("./image_src/fail.jpeg");
    background-size: 500px 500px;
    position: relative;
}
#restartBtn{
    background-color: transparent;
    border: none;
    padding-top:10px;
    position: absolute;
    width: 150px;
    top: 180px;
    left: 145px;
}
#clearPage{
    display: none;
    width: 500px;
    height: 500px;
    border-radius: 5px;
    background-color: white;
     background-image: url("./image_src/complete.jpeg");
    background-size: 500px 500px;
    position: relative;
}
#clearBtn{
    background-color: transparent;
    border: none;
    padding-top:10px;
    position: absolute;
    width: 150px;
    top: 180px;
    left: 145px;
}
#clearBtn:hover{
    opacity: 0.7;

}
#clearPage h1{
    margin-top: 0;
    padding-top: 25px;
    text-align: center;
    font-size: 50px;
}
#backtostoryBtn{
    background-color: transparent;
    border: none;
    padding-top:10px;
    position: absolute;
    width: 150px;
    top: 180px;
    left: 445px;
}
#restartPage h1{
    margin-top: 0;
    padding-top: 25px;
    text-align: center;
    font-size: 50px;
}
#restartBtn:hover{
    /*width: 170px;*/
    opacity: 0.7;
}

#backtostoryBtn:hover{
    /*width: 170px;*/
    opacity: 0.7;
}
#storyPage{
    display: none;
}

#game2{
    display: none;
}
#myCanvas3{
    width: 500px;
    height: 500px;
    background-color: white;